.board-list {
	width: 100%;
	border-collapse: collapse;

	font-size: 13px;

	thead tr {
		border-top: 1px solid #000000;
		border-bottom: 1px solid #000000;

		th {
			padding: 10px 0;
		}
	}

	tbody tr {
		border-bottom: 1px solid #b4b4b4;

		td {
			padding: 10px 10px;

			text-align: center;

			&.no {
				width: 20px;
			}
			&.title {
				max-width: 0;

				text-align: left;
			}
			&.uploader {
				width: 80px;
			}
			&.created-at {
				width: 60px;
			}

			&.title, &.uploader {
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
			}
		}
	}
}